@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

:root{
     --main-color: rgb(0, 120, 226);
     --whitish: rgba(236, 240, 248, 0.5);
     --dark-color: rgb(0, 19, 34);
     --blue-dark-color: rgb(1, 1, 27);
     --body: white;
}

body{
     font-family: "Madera-Regular";
     background: var(--whitish);
}

ul{
     list-style: none;
}

a{
     text-decoration: none;
}

img{
     width: 100%;
     height: 100%;
}

.inner-row{
      width: 90%;
      margin: auto;
}



/* Header Styles */
header{
    width: 100%;
    height: 85px;
    position: relative;
    z-index: 5;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}
header.onscroll{
       width: 80%;
       margin: auto;
       position: fixed;
        left: 0;
        right: 0;
        z-index: 99;
       box-shadow: 0px 0px 3px -2px rgb(176, 176, 176);
       height: 65px;
       border-radius: 70px;
       -webkit-border-radius: 70px;
       -moz-border-radius: 70px;
       -ms-border-radius: 70px;
       -o-border-radius: 70px;
       background: rgb(255, 255, 255);
       margin-top: 5px;
}
header.onscroll .inner-row{
     width: 95%;
}
.header-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85px;
}
header.onscroll .header-content{
        height: 60px;
}
.header-content .logo{
        overflow: hidden;
        padding: 0 10px;
}
.header-content .logo h2{
     font-family: 'Parisienne', cursive;
     color: black;
     font-size: 40px;
     opacity: 0;
     transform: translateX(-100%);
     -webkit-transform: translateX(-100%);
     -moz-transform: translateX(-100%);
     -ms-transform: translateX(-100%);
     -o-transform: translateX(-100%);
}
.header-content .logo span{
      color: var(--main-color);
      font-size: 60px;
      margin-left: 3px;
}
header.onscroll .header-content .logo span{
      font-size: 45px;
}
.header-content nav,
.header-content nav ul{
     position: relative;
       display: flex;
       gap: 30px;
       align-items: center;
      z-index: 5;
}
.header-content nav {
       gap: 150px;
     padding-left: 5%;
     overflow: hidden;
}

.header-content nav ul li{
      line-height: 40px;
}
.header-content nav ul .indicator{
       position: absolute;
       left: 0%;
       bottom: 5px;
       width: 20px;
       height: 2px;
       background: var(--main-color);
       border-radius: 5px;
       -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
       -ms-border-radius: 5px;
       -o-border-radius: 5px;
       transition: all 0.5s ease;
       -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
       -ms-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
       transform: translateY(20px);
       -webkit-transform: translateY(20px);
       -moz-transform: translateY(20px);
       -ms-transform: translateY(20px);
       -o-transform: translateY(20px);
       opacity: 0;
}
.header-content nav ul li{
       transform: translateY(-100%);
       -webkit-transform: translateY(-100%);
       -moz-transform: translateY(-100%);
       -ms-transform: translateY(-100%);
       -o-transform: translateY(-100%);
}
.header-content nav ul li a{
      color: var(--dark-color);
      font-size: 15px;
      position: relative;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
}
.header-content nav ul li a:hover{
       color: var(--main-color);
}
.header-content nav ul li a::after,
.header-content nav ul li a::before{
       content: '';
       position: absolute;
       border-radius: 50%;
       -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
       -ms-border-radius: 50%;
       -o-border-radius: 50%;
       transition: transform 0.5s ease;
       -webkit-transition: transform 0.5s ease;
       -moz-transition: transform 0.5s ease;
       -ms-transition: transform 0.5s ease;
       -o-transition: transform 0.5s ease;
       transform: scale(0);
       -webkit-transform: scale(0);
       -moz-transform: scale(0);
       -ms-transform: scale(0);
       -o-transform: scale(0);
}

.header-content nav ul li a::before{
        top: -3px;
        left: -15px;
        width: 6px;
        height: 6px;
        background: rgb(0, 120, 226);
}
.header-content nav ul li a::after{
     top: 2px;
     left: -8px;
     width: 4px;
     height: 4px;
     background:rgb(50, 141, 226)
}

.header-content nav ul li a:hover::before,
.header-content nav ul li a:hover::after,
.header-content nav ul li.active a::before,
.header-content nav ul li.active a::after{
       transform: scale(1);
       -webkit-transform: scale(1);
       -moz-transform: scale(1);
       -ms-transform: scale(1);
       -o-transform: scale(1);
}

.header-content nav ul li:nth-child(1):hover ~ .indicator{
      width: 30px;
}
.header-content nav ul li:nth-child(2):hover ~ .indicator{
         left: 19.5%;
        width: 30px;
}
.header-content nav ul li:nth-child(3):hover ~ .indicator{
       left: 39.5%;
       width: 30px;
}
.header-content nav ul li:nth-child(4):hover ~ .indicator{
     left: 67%;
     width: 30px;
}
.header-content nav ul li:nth-child(5):hover ~ .indicator{
     left: 91.5%;
     width: 30px;
}
.header-content .right-stuff{
  display: flex;
  gap: 20px;
  align-items: center;
}
.header-content .right-stuff a{
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--main-color);
      font-size: 14px;
      color: whitesmoke;
      padding: 12px 25px 15px 25px;
      border-radius: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      -o-border-radius: 30px;
      opacity: 0;
      transform: translateX(100%);
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
}
.header-content .right-stuff  span{
     color: whitesmoke;
     font-size: 24px;
     cursor: pointer;
     width: 40px;
     height: 40px;
     display: flex;
     align-items: center;
     justify-content: center;
}


/* Hero Section Styles */
.hero-section{
      height: 90vh;
      position: relative;
      
}

.hero-section-content .heading{
     padding: 5% 2%;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.hero-section-content .heading h1{
     font-size: 70px;
     line-height: 80px;
     color: var(--dark-color);
     transform: scale(0);
     -webkit-transform: scale(0);
     -moz-transform: scale(0);
     -ms-transform: scale(0);
     -o-transform: scale(0);
}

.hero-section-content .heading p{
      width: 350px;
      color: var(--dark-color);
      font-size: 17px;
      line-height: 30px;
      transform: scale(0);
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
}
.hero-section .hero-image{
     position: absolute;
     bottom: 0;
     z-index: 8;
     left: 50%;
     transform-origin: center;
     transform: translateX(-50%);
     max-width: 600px;
     -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
     -ms-transform: translateX(-50%);
     -o-transform: translateX(-50%);
}
.hero-section .hero-image img{
        display: block;
}
.hero-section .hero-imagery-shadow{
     background: radial-gradient(circle at center bottom, #0879db, #388ed877,#add9ff68, #f7fbff06,rgba(251, 253, 255, 0.026), transparent);
     position: absolute;
     width: 80%;
     height:130%;
     left: 50%;
     z-index: 3;
     bottom: 0;
     transform: translateX(-50%);
     -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
     -ms-transform: translateX(-50%);
     -o-transform: translateX(-50%);
}

.circular-line-one{
        width: 400px;
        height: 400px;
        border: 1px solid rgba(144, 183, 211, 0.162);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(-30%, -60%);
        z-index: 5;
        -webkit-transform: translate(-30%, -60%);
        -moz-transform: translate(-30%, -60%);
        -ms-transform: translate(-30%, -60%);
        -o-transform: translate(-30%, -60%);
}

.circular-line-two{
     width: 310px;
     height: 395px;
     border: 1px solid rgba(144, 183, 211, 0.15);
     border-radius: 50%;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
     position: absolute;
     left: 0;
     top: 0;
     transform: translate(-30.5%, -60%);
     z-index: 5;
     -webkit-transform: translate(-30.5%, -60%);
     -moz-transform: translate(-30.5%, -60%);
     -ms-transform: translate(-30.5%, -60%);
     -o-transform: translate(-30.5%, -60%);
}

.notable-texts{ 
     width: 80%;
     margin: auto;
     display: flex;
     justify-content: space-between;
     
}
.notable-texts .small-box{
       padding: 20px 40px;
       border-radius: 40px;
       -webkit-border-radius: 40px;
       -moz-border-radius: 40px;
       -ms-border-radius: 40px;
       -o-border-radius: 40px;
       background: white;
       color: var(--dark-color);
       font-size: 15px;
       font-family: "Madera-Medium";

}
.small-box.special{
       position: absolute;
       top:80px;
       left: 50%;
       z-index: 2;
       transform: translate(-50%, -50px);
       -webkit-transform: translate(-50%, -50px);
       -moz-transform: translate(-50%, -50px);
       -ms-transform: translate(-50%, -50px);
       -o-transform: translate(-50%, -50px);
       opacity: 0;
}
.small-box.experience{
     opacity: 0;
        transform: translateX(-100px);
        -webkit-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
}
.links-muhimu{
       position: absolute;
       right: 10%;
       z-index: 5;
       transform: scale(0);
       -webkit-transform: scale(0);
       -moz-transform: scale(0);
       -ms-transform: scale(0);
       -o-transform: scale(0);
}

.links-muhimu ul{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     width: 80px;
     height: 80px;
}

.links-muhimu ul li:nth-child(1){
        transform: translate(50%, 0px);
        -webkit-transform: translate(50%, 0px);
        -moz-transform: translate(50%, 0px);
        -ms-transform: translate(50%, 0px);
        -o-transform: translate(50%, 0px);
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
}
.links-muhimu ul li.active:nth-child(1){
        transform: translate(50%, -30px);
        -webkit-transform: translate(50%, -30px);
        -moz-transform: translate(50%, -30px);
        -ms-transform: translate(50%, -30px);
        -o-transform: translate(50%, -30px);
}
.links-muhimu ul li:nth-child(2){
       transform: translate(0px, 50%);
       -webkit-transform: translate(0px, 50%);
       -moz-transform: translate(0px, 50%);
       -ms-transform: translate(0px, 50%);
       -o-transform: translate(0px, 50%);
       transition: all 0.5s ease;
       -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
       -ms-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
}
.links-muhimu ul li.active:nth-child(2){
     transform: translate(30px, 50%);
     -webkit-transform: translate(30px, 50%);
     -moz-transform: translate(30px, 50%);
     -ms-transform: translate(30px, 50%);
     -o-transform: translate(30px, 50%);
}
.links-muhimu ul li:nth-child(3){
        transform: translate(0px,-50%);
        -webkit-transform: translate(0px,-50%);
        -moz-transform: translate(0px,-50%);
        -ms-transform: translate(0px,-50%);
        -o-transform: translate(0px,-50%);
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
}
.links-muhimu ul li.active:nth-child(3){
     transform: translate(-30px,-50%);
     -webkit-transform: translate(-30px,-50%);
     -moz-transform: translate(-30px,-50%);
     -ms-transform: translate(-30px,-50%);
     -o-transform: translate(-30px,-50%);
}
.links-muhimu ul li:nth-child(4){
        transform: translate(-50%, 0px);
        -webkit-transform: translate(-50%, 0px);
        -moz-transform: translate(-50%, 0px);
        -ms-transform: translate(-50%, 0px);
        -o-transform: translate(-50%, 0px);
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
}
.links-muhimu ul li.active:nth-child(4){
     transform: translate(-50%, 30px);
     -webkit-transform: translate(-50%, 30px);
     -moz-transform: translate(-50%, 30px);
     -ms-transform: translate(-50%, 30px);
     -o-transform: translate(-50%, 30px);
}
.links-muhimu ul li a{
     font-size: 25px;
     color: var(--dark-color);
}
.small-bubble{
       width: 60px;
       height: 60px;
       position: absolute;
       top: 0;
       left: 30%;
       border-radius:50%;
       -webkit-border-radius:50%;
       -moz-border-radius:50%;
       -ms-border-radius:50%;
       -o-border-radius:50%;
       animation: float2 10s ease-in-out infinite;
       -webkit-animation: float2 10s ease-in-out infinite;
       background: radial-gradient(       circle at 75% 30%,       rgb(255, 255, 255) 3px,       rgba(163, 206, 241, 0.692) 8%,       rgb(91, 146, 248) 50%,       rgba(4, 54, 202, 0.862) 100%     );
       opacity: 0;
       transform: scale(0.5);
       -webkit-transform: scale(0.5);
       -moz-transform: scale(0.5);
       -ms-transform: scale(0.5);
       -o-transform: scale(0.5);
}
.tiny-bubble{
      width: 30px;
      height: 30px;
      position: absolute;
      top: 35%;
      right: 5%;
      border-radius:50%;
      -webkit-border-radius:50%;
      -moz-border-radius:50%;
      -ms-border-radius:50%;
      -o-border-radius:50%;
      animation: float2 20s ease-in-out infinite;
      -webkit-animation: float2 5s ease-in-out infinite;
      background: radial-gradient(       circle at 75% 30%,       rgb(255, 255, 255) 3px,       rgba(163, 206, 241, 0.692) 8%,       rgb(91, 146, 248) 50%,       rgba(4, 54, 202, 0.862) 100%     );
      opacity: 0;
      transform: scale(0);
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
}
.bubble{
     animation: float 15s ease-in-out infinite;
     height: 120px;
     width: 120px;
     border-radius: 50%;
     position: absolute;
     bottom: 20px;
     background: radial-gradient(       circle at 75% 30%,       white 5px,       rgba(204, 228, 248, 0.692) 8%,       rgb(135, 176, 251) 50%,       rgba(4, 152, 202, 0.752) 100%     );
     /*box-shadow: inset 0 0 20px #fff, inset 10px 0 46px #eaf5fc,       inset 88px 0px 60px #c2d8fe, inset -20px -60px 100px #fde9ea,       inset 0 50px 140px #fcdcde, 0 0 90px #fff;
     */-webkit-animation: float 25s ease-in-out infinite;
     -webkit-animation: float 15s ease-in-out infinite;
     opacity: 0;
     transform: scale(0);
     -webkit-transform: scale(0);
     -moz-transform: scale(0);
     -ms-transform: scale(0);
     -o-transform: scale(0);
}
.bubble a{
       color: var(--dark-color);
       font-size: 18px;
       margin-left: 60%;
       display: flex;
       align-items: center;
       font-family: "Madera-Medium";
}
.bubble a span{
      display: flex;
      font-size: 25px;
      color: var(--main-color);
}
.scroll-down{
       width: 80px;
       height: 80px;
       position: absolute;
       border-radius: 50%;
       right: 5%;
       bottom: 5%;
       -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
       -ms-border-radius: 50%;
       -o-border-radius: 50%;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
}
.scroll-down p{
       transform: rotate(90deg);
       width: 150px;
       -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
       -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
       font-size: 14px;
}
.scroll-down img{
        height: 50%;
        width: 50%;
        margin-right: 50px;
        animation: float 3s ease infinite;
        -webkit-animation: float 3s ease infinite;
}


/* About Section Styles */
.about-section{
        background: var(--blue-dark-color);
        padding: 100px 0;
}
.about-section-content .intro{
        display: flex; 
        justify-content: center;
}
.about-section-content h3{
       color: whitesmoke;
       font-family: "Madera-Thin";
       letter-spacing: 1px;
       text-align: center;
       font-size: 15px;
       display: inline-block;
       padding: 10px 30px 10px 30px;
       border-radius: 50px;
       -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
       -ms-border-radius: 50px;
       -o-border-radius: 50px;
       background: var(--main-color);
}
.about-section-content h1{
     font-size: 60px;
     color: whitesmoke;
     width: 75%;
     text-align: center;
     margin: 20px auto 30px auto;
}

.explanation-texts{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     gap: 50px;
     width: 80%;
     margin: 20px auto;
}
.explanation-texts p{
      font-size: 18px;
      color: whitesmoke;
      line-height: 36px;
}
.skills-section{
}
.skills-section p.quote{
        font-size: 30px;
        color: var(--main-color);
        font-family: 'Parisienne', cursive;
        text-align: center;
        margin-top: 50px;
}




   @keyframes float {
     0% {
       transform: translatey(0px);
     }
     50% {
       transform: translatey(-80px);
     }
     100% {
       transform: translatey(0px);
     }
   }
   @keyframes float2 {
     0% {
       transform: translatey(0px);
     }
     50% {
       transform: translatey(-30px);
       -webkit-transform: translatey(-30px);
       -moz-transform: translatey(-30px);
       -ms-transform: translatey(-30px);
       -o-transform: translatey(-30px);
}
     100% {
       transform: translatey(0px);
     }
   }